* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(16, 16, 40);
    color: rgb(247, 247, 247);
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: Outfit;
  }
  
  .odevler {
    background-color: rgb(88, 105, 129);
    border: 1px solid rgb(52, 58, 72);
    padding: 30px;
    width: 60%;
    margin-top: 100px;
    border-radius: 20px;
  }
  
  .odev {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(52, 58, 72);
  }
  .odevbaslik
  {
    height: 55%;
  }
  .odevbaslik p {
    margin-left: 20px;
    color: rgb(205, 208, 212);
  }
  
  .odev p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  .odevbilgi
  {
    margin-left: 10px;
  }
  .odevbilgi p {
    font-size: 12px;
    font-weight: 100;
    color: #adadad;
  }
  
  .odevaciklama {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .odevbuton {
    margin-left: 500px;
    margin-right : 20px;
    background-color: rgb(106, 158, 90);
    border-radius: 20px;
  }
  
  .circleicon {
    scale: 0.2;
    color: rgb(97, 97, 97);
  }
  .ogrenciler{
    background-color: rgb(178, 191, 207);
    border: 1px solid rgb(52, 58, 72);
    padding: 30px;
    width: 60%; 
    margin-top: 100px;
    border-radius: 20px;
  }
  .yeni-odev{
    padding: 10px;
    margin-top: 20px;
  }
  .odev-gonder
  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 191, 207);
    padding: 30px;
    width: 30%; 
    margin-top: 30px;
    border-radius: 20px;
  }
  .odev-gonder button
  {
    width: 60%;
    padding: 20px 10px;
    border: none;
    border-radius: 20px;
  }
  .odev-gonder button:hover
  {
    transition: 0.6s;
    background-color: rgb(106, 158, 90);
  }
  .odev-gonder button {
    width: 80%;
    padding: 20px 10px;
    border: none;
    border-radius: 20px;
    position: relative;
    overflow: hidden; /* Yansıma efektinin taşmasını önlemek için */
} 
  .odevGonder
  {
    cursor: pointer;
  }

